{% extends 'base.html' %}

{% block title%}
| About
{% endblock %}

{% block content %}
    
  <section id="about" class="py-4">
    <div class="container screenheight">
      <div class="row">
        <div class="col-md-8">
          <h2>Create Classes and Invite your students</h2>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
          <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse officia repudiandae ad saepe ex, amet
            neque quod accusamus rem quia magnam magni dolorum facilis ullam minima perferendis? Exercitationem at quaerat
            commodi id libero eveniet harum perferendis laborum molestias quia.</p>
          <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse officia repudiandae ad saepe ex, amet
              neque quod accusamus rem quia magnam magni dolorum facilis ullam minima perferendis? Exercitationem at quaerat
              commodi id libero eveniet harum perferendis laborum molestias quia.</p>
          <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse officia repudiandae ad saepe ex, amet
              neque quod accusamus rem quia magnam magni dolorum facilis ullam minima perferendis? Exercitationem at quaerat
              commodi id libero eveniet harum perferendis laborum molestias quia.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}