       <!-- Footer -->
       <footer id="main-footer" class="py-4 bg-primary text-white text-center">
        <div class="row">
          <div class="col-md-4">
            <i class="fas fa-phone"></i> 555-555-5555
          </div>
          <div class="col-md-4">
            <i class="fas fa-envelope-open"></i> contact@lorem.co
          </div>
          <div class="col-md-4">
            <div class="social">
              <a href="#">
                <i class="fab fa-twitter fa-inverse"></i>
              </a>
              <a href="#">
                <i class="fab fa-facebook fa-inverse"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin fa-inverse"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram fa-inverse"></i>
              </a>
              <a href="#">
                <i class="fab fa-pinterest fa-inverse"></i>
              </a>
            </div>
          </div>
        </div> 
      </footer>