{% extends 'base.html' %}

{% block title%}
| CreateQuiz
{% endblock %}

{% block content %}
<section id="dashboard" class="py-4 screenheight">

    <div class="container">
        <div class="row">
        <form action="{% url 'answerq' %}" method="POST">
            {% csrf_token %}
            {% if questions %}
            {% for question,answer,index,title in questions %}
                {% if index == "1" %}
                <div class="form-group">            
                    <h3 class="text-center mb-3" style="color: midnightblue;">Quiz</h3>
                    <label for="formGroupExampleInput" style="font-weight: bolder;color:rgb(64, 64, 112)">Title </label>
                    <input type="text" class="form-control" id="formGroupExampleInput" value="{{ title }}" disabled>
                </div>
            <hr>
            <div class="form-group">
                <label for="formGroupExampleInput" style="font-weight: bolder;color:rgb(64, 64, 112)">Question{{ index }}</label>
                <input type="text" class="form-control" id="formGroupExampleInput" value="{{ question }}" disabled>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" style="font-weight: bolder;color:rgb(64, 64, 112)">Answer</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" readonly>{{ answer }}</textarea>
            </div>
                {% else %}
            <div class="form-group">
                <label for="formGroupExampleInput" style="font-weight: bolder;color:rgb(64, 64, 112)">Question{{ index }}</label>
                <input type="text" class="form-control" id="formGroupExampleInput" value="{{ question }}" disabled>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" style="font-weight: bolder;color:rgb(64, 64, 112)">Answer</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" readonly>{{ answer }}</textarea>
            </div>
            {% endif %}
            {% endfor %}
            <div style=" margin-left:1130px;float:right;display:unset">
                <button  class="btn btn-primary" hidden>Submit Answers</button>
            </div>
        </form>
        {% else %}
        <div class="col-md-12">
            <p> You Don't have any untaken quizes </p>
          </div>
        {% endif %}
        </div>
    </div>
</section>
{% endblock %}